@font-face {
  font-family: Geist;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Merriweather;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Merriweather-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2');
}
