:root {
  /* Colors -- delete after themes implemention */
  --color-primary: #000;
  --color-secondary: #4e4e4e;
  --color-muted: #eaeaea;
  --color-bg: #fffffb;
  --color-success: #749c75;
  --color-failure: #ad2831;
  --color-button-bg-hover: #f6f6f6;

  /* Fonts */
  --font-size-xl: 4rem; /* 64px */
  --font-size-l: 2.25rem; /* 36px */
  --font-size-m: 1.25rem; /* 20px */
  --font-size-s: 1rem; /* 16px */

  --line-height-xl: 1.2; /* for 64px */
  --line-height-l: 1.3; /* for 36px */
  --line-height-m: 1.25; /* for 20px */
  --line-height-s: 1.25; /* for 16px */

  /* Misc */
  --border-radius: 10px;
  --border-style: 1px solid var(--color-muted);
  --border-style-hover: 1px solid var(--color-muted);
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
