.sidebar {
  position: fixed;
  top: 50%;
  left: 20px;
  border: var(--border-style);
  border-radius: var(--border-radius);
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  backdrop-filter: blur(20px);
  transition: all var(--transition);
}

.expanded {
  padding: 26px 30px;
  gap: 25px;
}
