.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px 16px;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  border: none;
  border-radius: var(--border-radius-s);
  transition: background var(--transition);
}

.input:hover {
  cursor: text;
  background: var(--color-bg-hover);
}

.input:focus-visible {
  outline: none;
  border-color: var(--color-secondary);
}

.input[data-placeholder] {
  color: var(--color-secondary);
}

.error {
  width: 100%;
  border-top: 1px solid var(--color-failure);
  color: var(--color-failure);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  padding: 4px 16px;
}

.inputNumber {
  padding: 10px 4px;
  text-align: center;
}
